name: crystfel

on:
  push:
    branches: [ master ]
    paths: ['packages/crystfel/**']
  pull_request:
    branches: [ master ]
    paths: ['packages/crystfel/**']

jobs:
  package-test-crystfel:
    runs-on: ubuntu-latest
    container:
      image: roscarxfel/spack-repo-testenv:latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          source /opt/spack/share/spack/setup-env.sh
          echo Spack version: $(spack --version)
          echo Tests for package crystfel
          spack repo add --scope=site ./
          spack install --test=root --verbose crystfel
